# Purview Account name
ACCOUNT_NAME=

# appId from the Service Principal registration
AZURE_CLIENT_ID=""

# password from the Service Principal registration
AZURE_CLIENT_SECRET=""

# tenant from the Service Principal registration
AZURE_TENANT_ID=""
